<section id="intro">
	<div class="jumbotron">
  		<div class="container">
  			{{#with description}}
				<h1>{{author-name.first}} {{author-name.last}}</h1>
				<h2><small>{{title}}</small></h2>
				<p class="lead">{{text}}</p>
			{{/with}}
		</div>
	</div> <!-- /container -->
</section>
